<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse | METAmapa</title>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login-register.css}">
    <script th:src="@{/js/script.js}"></script>

    <script src="https://kit.fontawesome.com/f5394feeef.js" crossorigin="anonymous"></script>

    <style>
        body {
            min-height: 100%;
            margin: 0;
            background-image: url('/fondoLevementeCargado.png');
            background-attachment: fixed;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            align-items: center;
            justify-content: center;
            display: flex;
        }

    </style>


</head>

<body>
    <a th:href="@{/}" id="btn-back-page"><i class="fa-solid fa-chevron-left"></i></a>
    <div id="fixed-logo"></div>
    <!--/*@thymesVar id="datosRegister" type="ar.utn.ba.ddsi.models.entities.DatosRegister"*/-->
    <form th:action="@{/register}" th:object="${datosRegister}"class="login-form" method="POST">
        <h2>Crear cuenta</h2>
        <div class="input-container">
            <label for="fname">Nombre</label>
            <input type="text" id="fname" th:field="*{nombre}" name="fname" required>
        </div>

        <div class="input-container">
            <label for="lname">Apellido</label>
            <input type="text" id="lname" th:field="*{apellido}" name="lname" required>
        </div>

        <div class="input-container">
            <label for="email">Correo electrónico</label>
            <input type="email" id="email" th:field="*{email}" name="email" required>
        </div>

        <div class="input-container">
            <label for="password">Contraseña</label>
            <span>
                <i class="fa-solid fa-eye password-show"
                    id="password-show"
                    for="password" 
                    onclick="togglePasswordVisible('password-show')"></i>
                <input type="password" id="password" th:field="*{contrasenia}"name="password" required>
            </span>
        </div>

        <div class="input-container">
            <label for="password-repeat">Repetir contraseña</label>
            <span>
                <i 
                    class="fa-solid fa-eye password-show"
                    id="password-repeat-show"
                    for="password-repeat" 
                    onclick="togglePasswordVisible('password-repeat-show')"></i>
                <input type="password" id="password-repeat" th:field="*{contraseniaRepetida}" name="password-repeat" required>
            </span>
        </div>

        <button class="btn-submit" type="submit">Registrarse</button>
        <div id="go-to-login">
            ¿Ya tiene una cuenta? <a th:href="@{/login}">Iniciar sesión</a>
        </div>
    </form>

</body>
<script>
    document.querySelector('.login-form').addEventListener('submit', function(event) {
        event.preventDefault();
        if (this.checkValidity()) {
            window.location.href = 'main.html';
        } else {
            this.reportValidity();
        }
    });
</script>

</html>