html {
    height: 100%;
}
body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
}

#hecho-preview {
    position: relative;
    height: 100%;
    background-color: var(--color-secondary);
    transition: 0.3s ease-in-out;
    transform-origin: 0;
    padding-top: 1.5em;

    flex: 0;
    min-width: 0;

    display: flex;
    flex-direction: column;
}
#hecho-preview.active {
    transition: 0.3s cubic-bezier(.74,.18,.25,1.55);
    flex: 1;
    min-width: 15em;
}
#hecho-preview > .btn-close {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    width: 1em;
    background: none;
    font-size: larger;
    transition: color 0.1s;
}
#hecho-preview > .btn-close:hover {
    color: crimson;
}
#hecho-preview > .data-container {
    width: 100%;
    height: 100%;
    padding: 1em;
    flex-direction: column;

    display: none;
}
#hecho-preview.active > .data-container {
    display: flex;
}
#hecho-preview__titulo {
    text-align: center;
    margin-bottom: 0.5em;
    overflow: hidden;
}
#hecho-preview > .data-container > p {
    font-size: small;
}
#hecho-preview__categoria {
    color: var(--color-main);
    margin-bottom: 0.5em;
}
#hecho-preview__descripcion {
    margin-top: 0.5em;
    text-align: justify;
}
#hecho-preview__btn-open-details {
    font-size: larger;
    font-weight: bold;
    color: whitesmoke;

    padding: 0.5em 1em;
    margin: 0.5em;
    background-color: var(--color-accent);
    border-radius: 0.5em;
    transition: background 0.2s;
    display: none;
}
#hecho-preview.active > #hecho-preview__btn-open-details {
    display: block;
}
#hecho-preview__btn-open-details:hover {
    background-color: var(--color-accent-hover);
}

#hecho-preview__btn-sol-eliminacion{
    font-size: larger;
    font-weight: bold;
    color: whitesmoke;
    padding: 0.5em 1em;
    margin: 0.5em;
    background-color: darkred;
    border-radius: 0.5em;
    transition: background 0.2s;
    display: none;
}

#hecho-preview.active > #hecho-preview__btn-sol-eliminacion {
    display: block;
}

#hecho-preview__btn-sol-eliminacion:hover{
    background-color: lightcoral;
}

main {
    flex: 3;
    position: relative;
    width: 100%;
    height: 100%;
}
#map {
    width: 100%;
    height: 100%;
    border: none;
    z-index: 1;
}

#filtro-form {
    position: absolute;
    left: 60px;
    top: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    background: white;
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    padding: 8px 10px; /* Ajustamos el padding del contenedor, no de cada filtro */
}

.search-bar input {
    /* Mantener 100% de la altura de 34px */
    height: 100%;
    padding-right: 10px; /* Padding reducido */
    font-size: 0.9rem; /* Fuente un poco más pequeña */
    opacity: 1;
    width: 100%;
}

.filtro-categoria {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.filtro-categoria i {
    color: #555;
    margin-right: 1px;
}

.filtro-categoria select {
    border: none;
    outline: none;
    background: transparent;
    height: 100%;
    font-size: 1rem;
    color: #333;
    padding-right: 5px; /* Espacio para la flecha del select */
}

.btn-filtrar {
    height: 34px; /* Altura del botón reducida */
    padding: 0 12px; /* Padding reducido */
    border-radius: 17px;
    font-size: 0.9rem; /* Fuente del botón más pequeña */
}

.search-bar {
    display: flex;
    align-items: center;
    height: 34px;
    width:50px;
    padding: 0;
    overflow: hidden;
    background: transparent;
    border-radius: 10px;
    box-shadow: none;
    flex-grow: 1;
    transition: width 0.4s ease-in-out;
}

.search-bar:hover,
.search-bar:focus-within {
    width: 200px; /
box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.search-bar i {
    min-width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #555;
    cursor: pointer;
}


.search-bar:hover input,
.search-bar:focus-within input {
    opacity: 1;
}


.btn-add {
    border-radius: 2em;
    font-size: 2rem;
    font-weight: 900;
    background: var(--color-main);
    color: white;
    width: 2em;
    height: 2em;
    aspect-ratio: 1;
}
.btn-add:hover {
    background-color: var(--color-main-hover);
    cursor: pointer;
}
#btn-add {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 1000;
    transition: transform 0.5s, background-color 0.2s;
}
#btn-add.active {
    transform: rotate(135deg);
}
#btn-add-list {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 999;
}
#btn-add-list .btn-add {
    bottom: 0;
    right: 0;
    position: absolute;
    transform: scale(0.9);
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#btn-add-hecho {
    background-color: var(--color-accent);
}
#btn-add-hecho:hover {
    background-color: var(--color-accent-hover);
}
#btn-add-dataset {
    background-color: var(--color-main-2);
}
#btn-add-dataset:hover {
    background-color: var(--color-main-2-hover);
}
#btn-add-coleccion {
    background-color: orangered;
}
#btn-add-coleccion:hover {
    background-color: darkorange;
}

#btn-add-list.active .btn-add {
    transform: translateY(var(--translation));
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 0.2s;
}

#top-curtain {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2000;
    transition-duration: 0.5s;
    transform-origin: 50% 0%;

    transform: translateY(-100%);
}
#top-curtain iframe {
    width: 100%;
    height: 100%;
}
#top-curtain.active {
    transform: none;
}



