<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cargar hecho | METAmapa</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/cargarHecho.css}" />
    <script src="https://kit.fontawesome.com/f5394feeef.js" crossorigin="anonymous"></script>   <!--Para la flechita-->
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap" rel="stylesheet"> <!--Para el logo-->

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
</head>

<body>
    <main>
        <div id="fixed-logo"></div>

        <!--/*@thymesVar id="hechoOutputDTO" type="ar.utn.ba.ddsi.models.dto.output.HechoOutputDTO"*/-->
        <form class="cargar-hecho-form" method="post" th:action="@{/hechos/cargar}" th:object="${hechoOutputDTO}"> <!--action: ¿a donde se enviarán los datos? method: metodo HTTP usado para mandar los datos -->
        <div class = "container">

           <!-- <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div> -->

                <h2 id="titulo-cargarHecho">Cargar Hecho</h2>
                <div class ="input-primerFila">
                    <div class="input-cargarHecho">
                        <h4>Título</h4>
                        <label for ="titulo"></label>
                        <input type="text" id="titulo" th:field="*{titulo}" required>
                        <div th:if="${#fields.hasErrors('titulo')}" class="text-danger">
                            <small th:errors="*{titulo}">Error en titulo</small>
                        </div>
                    </div>

                    <div class="input-cargarHecho">
                        <h4>Categoria</h4>
                        <label for ="categoria"></label>
                        <!--/*@thymesVar id="categoria" type="ar.utn.ba.ddsi.models.dto.input.CategoriaDTO"*/-->
                        <input type="text" id="categoria" th:field="*{categoria}" required>
                        <div th:if="${#fields.hasErrors('categoria')}" class="text-danger">
                            <small th:errors="*{categoria}">Error en la categoría</small>
                        </div>
                    </div>

                    <div class="input-cargarHecho">
                        <h4>Lugar</h4>
                        <div id="input-ubicacion-container">
                            <button type="button" id="btn-show-input-lugar" onclick="toggleInputUbicacion(true)">
                                <input type="text" id="ubicacion" th:field="" disabled>
                                <br>
                                Seleccionar en el mapa
                                <i class="fa-solid fa-magnifying-glass input-icon" id="input-icon"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="input-cargarHecho">
                    <h4>Descripción</h4>
                    <label for ="descripcion"></label>
                    <textarea id="descripcion" placeholder="Escribe una descripcion..." th:field="*{descripcion}"></textarea><!--Descripcio-->
                </div>

                <div class="input-tercerFila">
                    <div class="input-cargarHecho">
                        <h4>Fecha</h4>
                        <input type="date" id="fecha" name="fecha" th:field="*{fechaHecho}" required>
                    </div>

                    <div class="input-cargarHecho">
                        <h4>Etiquetas</h4>
                        <input type="text" id="tagInput" class="tag-input" placeholder="Escribe una etiqueta...">
                        <button type="button" id="addTag" class="add-btn">➕</button>

                        <div th:each="etiqueta, iterStat : *{etiquetas}" class="hidden-tag-input">
                            <input type="hidden" th:field="*{etiquetas[__${iterStat.index}__].nombre}" th:value="${etiqueta.nombre}" />
                        </div>

                        <div id="tagContainer" class="tag-container"></div>
                        <input type="hidden" name="tags" id="hiddenTags">
                    </div>
                </div>

            <!--
               <div th:each="i, etiqueta : ${hechoOutputDTO.etiquetas}">
            <input type="hidden" th:field="*{etiquetas[i].id}" />
            <input type="text" th:field="*{etiquetas[i].nombre}" placeholder="Escribe una etiqueta...">
        </div>
            -->

            <div class="input-imagenes">
                <div class="input-cargarHecho">
                    <label for="fotos" class="custom-file">Sube imágenes📷 </label>
                    <input type="file" id="fotos" name="fotos" accept="image/*" multiple>

                    <div th:each="path, iterStat : *{contenidosMultimedia}" class="hidden-path-input">
                        <input type="hidden"
                               th:field="*{contenidosMultimedia[__${iterStat.index}__]}"
                               th:value="${path}" />
                    </div>

                    <div id="preview"></div>
                </div>
            </div>

            <div class="button-footer">
            <button class="btn-submit" type="submit" >Cargar</button>
            </div>
        </div>
        </form>
    </main>

    <div id="mapa-input-ubicacion-container">
        <div id="mapa-input-ubicacion"></div>
        <div class="btn-container">
            <button type="button" class="btn-ubicacion" id="btn-cancel-ubicacion" onclick="toggleInputUbicacion(false)">Cancelar</button>
            <button type="button" class="btn-ubicacion hidden" id="btn-accept-ubicacion" onclick="seleccionarUbicacionActual()">Usar esta ubicación</button>
        </div>
    </div>





    <script>
        (() => {
            /*** CARGA DE FOTOS ***/
            const inputFotos = document.getElementById("fotos");
            const preview = document.getElementById("preview");
            let filesArray = [];

            function mostrarPreviews() {
                preview.innerHTML = "";
                filesArray.forEach((file, index) => {
                    if (file.type.startsWith("image/")) {
                        const reader = new FileReader();
                        reader.onload = e => {
                            const container = document.createElement("div");
                            container.classList.add("preview-item");

                            const img = document.createElement("img");
                            img.src = e.target.result;

                            const btn = document.createElement("button");
                            btn.textContent = "×";
                            btn.classList.add("remove-btn");
                            btn.onclick = (ev) => {
                                ev.preventDefault();
                                eliminarArchivo(index);
                            };

                            container.appendChild(img);
                            container.appendChild(btn);
                            preview.appendChild(container);
                        };
                        reader.readAsDataURL(file);
                    }
                });

                const dataTransfer = new DataTransfer();
                filesArray.forEach(file => dataTransfer.items.add(file));
                inputFotos.files = dataTransfer.files;
            }

            function eliminarArchivo(index) {
                filesArray.splice(index, 1);
                mostrarPreviews();
            }

            inputFotos.addEventListener("change", () => {
                const nuevosArchivos = Array.from(inputFotos.files);
                filesArray = filesArray.concat(nuevosArchivos);
                mostrarPreviews();
            });

            /*** ETIQUETAS ***/
            const inputTags = document.getElementById("tagInput");
            const addBtn = document.getElementById("addTag");
            const tagContainer = document.getElementById("tagContainer");
            const hiddenInput = document.getElementById("hiddenTags");
            let etiquetas = [];

            function actualizarHidden() {
                hiddenInput.value = etiquetas.join(",");
            }

            function crearEtiqueta(texto) {
                const tagText = texto.trim();
                if (!tagText || etiquetas.includes(tagText)) return;

                etiquetas.push(tagText);
                actualizarHidden();

                const tag = document.createElement("div");
                tag.classList.add("tag");
                tag.textContent = tagText;

                const btn = document.createElement("button");
                btn.textContent = "×";
                btn.onclick = (e) => {
                    e.preventDefault();
                    etiquetas = etiquetas.filter(et => et !== tagText);
                    actualizarHidden();
                    tag.remove();
                };

                tag.appendChild(btn);
                tagContainer.appendChild(tag);
                inputTags.value = "";
            }

            addBtn.addEventListener("click", () => crearEtiqueta(inputTags.value));
            inputTags.addEventListener("keydown", (e) => {
                if (e.key === "Enter") {
                    e.preventDefault();
                    crearEtiqueta(inputTags.value);
                }
            });

        })();

        const map = L.map('mapa-input-ubicacion', {
            center: [-34.5986333, -58.4199428],
            zoom: 13
        });

        let ubicacionSeleccionada;
        let markerUbicacionSeleccionada;
        const inputUbicacionContainer = document.getElementById('mapa-input-ubicacion-container');
        const inputUbicacion = document.getElementById('ubicacion');


        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png?{foo}', {
                foo: 'bar',
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }
        ).addTo(map);

        const geocoder = new L.Control.Geocoder({
            defaultMarkGeocode: false
        })
        .on('markgeocode', (e) => {
            const coords = e.geocode.center;
            if (coords !== null) {
                console.log(coords);
                const ubicacion = latlngToCoords(coords);
                marcarUbicacionActual(ubicacion);
            }
        })
        .addTo(map);

        map.on('contextmenu', (e) => {
            marcarUbicacionActual(latlngToCoords(e.latlng));
        });

        function marcarUbicacionActual(newUbicacion) {
            if (markerUbicacionSeleccionada) {
                markerUbicacionSeleccionada.remove();
            }

            const marker = L.marker(newUbicacion, {
                riseOnHover: true,
                draggable: true
            }).addTo(map);
            
            markerUbicacionSeleccionada = marker;
            // Muestra el botón de aceptar
            document.getElementById('btn-accept-ubicacion').classList.remove('hidden');
        }

        function toggleInputUbicacion(active) {
            inputUbicacionContainer.classList.toggle('active', active);
            if (active) {
                if (ubicacionSeleccionada) {
                    marcarUbicacionActual(ubicacionSeleccionada);
                }
            } else {
                if (markerUbicacionSeleccionada) {
                    markerUbicacionSeleccionada.remove();
                }
            }
        }

        function seleccionarUbicacionActual() {
            if (markerUbicacionSeleccionada) {
                ubicacionSeleccionada = latlngToCoords(markerUbicacionSeleccionada._latlng);
                inputUbicacion.setAttribute('value', ubicacionSeleccionada.toString());
            }
            toggleInputUbicacion(false);
        }

        function latlngToCoords(latlng) {
            return [latlng.lat, latlng.lng];
        }
        
    </script>
</body>
</html>