<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mis-Hechos | METAmapa</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script src="https://kit.fontawesome.com/f5394feeef.js" crossorigin="anonymous"></script>
        <body>
        <main>
            <h1 class="app-logo">METAmapa</h1>
            <div class="container-colecciones-destacadas">
            <h2 style="text-align: center; font-weight: bolder">Colecciones Destacadas</h2>
            <div class="colecciones-wrapper">

            <div class="coleccion-card" th:each="coleccion : ${colecciones}">
            <h3 th:text="${coleccion.titulo}">Título de la Colección</h3>
            <p th:text="${coleccion.descripcion}">Descripción de la Colección destacada.</p>
            </div>

            </div>
            </div>

        </main>
        </body>

</head>
</html>